<h1>Mostrando todos los Character</h1>

<div class="notification is-primary"> 
    <h1 class="title has-text-centered">Personajes de Harry Potter</h1>
</div>

<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Locación</th>
            <th>Casa</th>
        </tr>
    </thead>
    <tbody>
        <% @pages.each do |character| %>
            <tr>
                <td><%= character.name %></td>
                <td><%= character.location %></td>
                <td><%= character.house %></td>
            </tr>
        <% end %>
    </tbody>
</table>


